@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Список игр</h5>
                    <p class="card-text">(задание)</p>
                    <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="Index">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Список разработчиков</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="Developers" asp-action="Index">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Список жанров</h5>
                    <a class="btn btn-primary" asp-area="" asp-controller="Genres" asp-action="Index">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>
